language = "nodejs"
run = "node server.js"
modules = ["web", "nodejs-20"]

[deployment]
run = ["sh", "-c", "npm run start"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 35175
externalPort = 80

[[ports]]
localPort = 44823
externalPort = 3001
